<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" href="#"> NatationClub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/piscines"> Piscines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/competitions"> Compétitions Planifiees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/competitions/cartes"> Ajouter Une Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/inscriptions/user"> Inscriptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/resultats/ajouter"> Resultats ajout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  